#Agenda {
  background-color: white;
  color: var(--grey-color);
  background-color: white;
}

#Agenda .section-content {
  margin: 0 2rem;
}
#Agenda.section {
  padding: 0;
}

.agenda-description {
  padding: 2rem 0 2rem 7%;
  background-color: var(--light-grey-color);
  color: var(--purple-color);
  border-radius: 60px;
  text-align: center;
  margin-bottom: 1.5rem;
  display: none;
}

.agenda-items {
  text-align: center;
}

.agenda-item-header {
  position: sticky;
  font-size: 1.25rem;
  padding: 1rem 0.2rem;
  font-weight: 800;
  top: calc(1.7rem + 1.7rem + 44px);
  z-index: 9;
  min-height: 4.5rem;
  vertical-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 62.5rem) {
  .agenda-item-header {
    top: calc(3.4rem + 2rem);
  }
}

.agenda-item-content {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 2rem 0.2rem 8rem 0.2rem;
  height: 100%;
}
.agenda-item-1 .agenda-item-content, 
.agenda-item-2 .agenda-item-content, 
.agenda-item-3 .agenda-item-content {
  max-height: 97%;
}

.agenda-item-title {
  font-weight: 500;
  font-size: 1rem;
  line-height: 120%;
  padding: 0 8%;
}
.agenda-item-title a {
  transition: all 0.3s ease-out;
}
.agenda-item-title a:hover {
  color: var(--purple-color);
}

.agenda-item-hour {
  font-weight: 700;
  font-size: 1rem;
  line-height: 120%;
  color: var(--purple-color);
}

.agenda-items,
.agenda-items-group {
  display: flex;
}

.last-talks {
  display: flex;
  flex-direction: column;
}

.group-1 {
  width: 58%;
}
.group-2 {
  width: 42%;
}
.agenda-item-1,
.agenda-item-3 {
  width: 55%;
}
.agenda-item-2,
.last-talks {
  width: 45%;
}

@media only screen and (max-width: 62.5rem) {
  .agenda-item-title { 
    font-size: 0.8rem;
    padding: 0 4%;
  }
  .agenda-item-header {
    font-size: 1rem;
  }
  #Agenda .section-content {
    margin: 0;
  }
}
@media only screen and (max-width: 35rem) {
  .agenda-items {
    flex-direction: column;
  }
  .group-1,
  .group-2 {
    width: 100%;
  }
  .agenda-item-1,
  .agenda-item-3 {
    width: 50%;
  }
  .agenda-item-2,
  .last-talks {
    width: 50%;
  }
  .agenda-item-content {
    height: 100%;
  }
  .agenda-item-3 .agenda-item-content {
    height: 93%;
  }
}

.agenda-item-1 .agenda-item-header {
  background-color: var(--green-color);
}
.agenda-item-1 .agenda-item-content {
  background-color: var(--light-green-color);
}
.agenda-item-2 .agenda-item-header {
  background-color: var(--purple-color);
  color: white;
}
.agenda-item-2 .agenda-item-content {
  background-color: var(--light-purple-color);
}
.agenda-item-3 .agenda-item-header {
  background-color: var(--sun-color);
}
.agenda-item-3 .agenda-item-content {
  background-color: var(--light-sun-color);
}
.agenda-item-4 .agenda-item-header {
  background-color: var(--grey-color);
  color: white;
}
.agenda-item-4 .agenda-item-content {
  background-color: var(--light-grey-color);
}
