#Agenda {
  background-color: white;
  color: var(--dark-color);
}

#Agenda .section-title {
  color: var(--green-color);
}

#Agenda .section-content {
  margin: 0 2rem;
}
#Agenda.section {
  padding: 6rem 0 2rem 0;
}

.agenda-description {
  padding: 2rem;
  background-color: var(--light-grey-color);
  color: var(--purple-color);
  border-radius: 60px;
  text-align: center;
  margin-bottom: 1.5rem;
}

.agenda-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border-bottom: 1px solid var(--dark-color);
}
@media only screen and (max-width: 700px) {
  .agenda-items {
    grid-template-columns: 1fr 1fr;
  }
  .agenda-item-header {
    justify-content: center;
  }
}
.agenda-items > * {
  width: 100%;
  height: 100%;
  max-width: 50vw;
  border-left: 1px solid var(--dark-color);
}
.agenda-items:last-child {
  border-right: 1px solid var(--dark-color);
}

.agenda-item-header {
  position: sticky;
  font-size: var(--font-s);
  padding: 1rem 8%;
  top: var(--header-height);
  z-index: 9;
  min-height: 4.5rem;
  vertical-align: center;
  display: flex;
  align-items: center;
  font-family: KangmasRegular;
  border-bottom: 1px solid var(--dark-color);
  border-top: 1px solid var(--dark-color);
}


.agenda-item-content {
  display: flex;
  flex-direction: column;
  /* height: 100%; */
}

.agenda-item-talk {
  border-bottom: 1px solid var(--dark-color);
  padding: 1.2rem 8%;
}
.agenda-item-title {
  font-weight: 500;
  font-size: 1rem;
  line-height: 120%;
}
.agenda-item-title a {
  transition: all 0.3s ease-out;
}
.agenda-item-title a:hover {
  color: var(--purple-color);
}

.agenda-item-hour {
  font-size: 1rem;
  line-height: 120%;
  color: var(--purple-color);
}
.talk-title {
  font-weight: 700;
}

@media only screen and (max-width: 62.5rem) {
  .agenda-item-title { 
    font-size: 0.8rem;
  }
  .agenda-item-talk {
    padding: 1.2rem 6%;
  }
  .desci-tag {
    margin: 1rem 6% 0 6%;
  }
  .agenda-item-header {
    font-size: 1rem;
    min-height: 3.5rem;
  }
  #Agenda .section-content {
    margin: 0;
  }
}

.agenda-item-1 .agenda-item-header {
  background: var(--gradient-1);
}
.agenda-item-1 {
  background: var(--gradient-2);
}
.agenda-item-2 .agenda-item-header {
  background: var(--gradient-2);
}
.agenda-item-2 {
  background: var(--gradient-3);
}
.agenda-item-3 .agenda-item-header {
  background: var(--gradient-3);
}
.agenda-item-3 {
  background: var(--gradient-1);
}
.agenda-item-4 .agenda-item-header {
  background: var(--gradient-1);
}
.agenda-item-4 {
  background: var(--gradient-2);
}
