/* Universal styles 
=================== */

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
    font-size: 16px;
}

@font-face {
    font-family: fallback-font;
    src: local(Arial);
    ascent-override: 97.6%;
    descent-override: -4.6%;
    line-gap-override: 0;
    advance-override: 129.5%;
}

:root {
    --purple-color: #6F3FF5;
    --light-green-color: #B3FFED;
    --green-color: #02E2AC;
    --grey-color: #0E0333; 
}

#mobile-icon {
    display: none;
}

img {
    max-width: 100%;
}

a {
    cursor: pointer;
    -webkit-transition: color 0.4s ease-in-out,
        background-color 0.4s ease-in-out;
    -o-transition: color 0.4s ease-in-out,
        background-color 0.4s ease-in-out;
    transition: color 0.4s ease-in-out,
        background-color 0.4s ease-in-out;
}

h1,
h2,
.h2,
nav {
    font-family: 'Space Mono', monospace;
    font-weight: 700;
}

h1 {
    font-size: 3rem;
    line-height: 3rem;
    color: var(--green-color);
}

h2,
.h2 {
    font-size: 1.875rem;
    color: var(--grey-color);
}

.h2 {
    font-size: 1.5rem;
}

p {
    font-family: 'Libre Franklin', 'fallback-font';
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 2.25rem;
}

nav a {
    font-size: 1rem;
    color: #ffffff;
}

nav a:hover,
nav a:active {
    color: var(--green-color);
}

.button,
.about-keywords,
.goal-container p {
    font-family: 'Space Mono', monospace;
    font-weight: 400;
}

.goal-container p {
    font-size: 1.1rem;
    line-height: 1.8rem;
}

.button {
    font-size: 1.125rem;
    padding: 0.9em 1.3em;
    width: fit-content;
    color: var(--light-green-color);
} 

.button.purple {
    background-color: var(--purple-color);
}

.link {
    text-decoration: underline;
}

@media (hover: hover) {
    .button.purple:hover {
        background-color: var(--grey-color);
    }
}

.button.purple:active {
    background-color: var(--grey-color);
}

@media (hover: hover) {
    .hero-content .button:hover,
    .footer-link .button:hover {
        color: var(--green-color);
    }
}

.inactive {
    pointer-events: none;
    opacity: 0.5;
}
    
.purple-link {
    color: var(--purple-color);
}

.purple-link:active {
    color: var(--grey-color);
}

@media (hover: hover) {
    .purple-link:hover {
        color: var(--grey-color);
    }
}

@media only screen and (max-width: 500px) {
    html {
        font-size: 14px;
    }
}

@media only screen and (max-width: 387px) {
    html {
        font-size: 13px;
    }
}

/* Animations */
/* h1 animation */
.scroller {
    height: 1em;
    line-height: 0.7em;
    position: relative;
    overflow: hidden;
    width: 9ch;
}

.scroller > span {
    position: relative;
    bottom: 0;
    animation: h1slide 0.7s ease-out;
    -webkit-animation: h1slide 0.7s ease-out;
}

@keyframes h1slide {
    from {
      bottom: -1em;
    }
    to {
      bottom: 0em;
    }
}
/* animated main h2 headings */
@supports (transform: translateY(70%)) {
    .scroller-h2 {
        overflow: hidden;
    }

    .animated-h2 {
        transform: translateY(70%);
        -webkit-transform: translateY(70%);
            -ms-transform: translateY(70%);
    }
    .h2-animation-triggered {
        animation: h2slide 0.7s ease-in forwards;
        -webkit-animation: h2slide 0.7s ease-in forwards;
    }

    @keyframes h2slide {
        from {
        transform: translateY(70%);
        -webkit-transform: translateY(70%);
            -ms-transform: translateY(70%);
        opacity: 0.4;
        }
        to {
        transform: translateY(0);
        -webkit-transform: translateY(0);
            -ms-transform: translateY(0);
        opacity: 1;
        }
    }
}

/* nav animation */
@media only screen and (min-width: 870px) {
    /* scroller */
    nav ul {
        height: 1.2rem;
        line-height: 1.2rem;
        position: relative;
        overflow: hidden;
    }
    /* span */
    nav li {
        position: relative;
        bottom: 0;
        width: fit-content;
        animation: slide 0.6s ease-out;
        -webkit-animation: slide 0.6s ease-out;
    }

    @keyframes slide {
        0% {
        bottom: -1.2rem;
        }
        100% {
        bottom: 0;
        }
    }
}

/* about section paragraphs animation */
.p-animation-triggered {
    animation: opacity 1s ease-out;
    -webkit-animation: opacity 1s ease-out;
}

@keyframes opacity {
    from {
        opacity: 0.05;
    }
    to {
        opacity: 1;
    }
}

/* Header section
================= */

header {
    padding: 1.7em 0;
    background-color: var(--purple-color);
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

li:not(:last-child) {
    padding-right: 3.5em;
}

/* mobile nav */
@media only screen and (max-width: 870px) {
    nav ul {
        flex-direction: column;
        gap: 1.6rem;
        align-items: center;
    }

    nav {
        z-index: 10;
        width: 100vw;
        height: calc(100vh - 40px - 0.8rem);
        padding: 3rem 0;
        background-color:hsla(256, 90%, 60%, 0.6);
    }

    nav a {
        font-size: 2rem;
    }

    li:not(:last-child) {
        padding-right: 0;
    }

    header {
        position: relative;
        top: 0;
        right: 0;
        padding: 0.8rem;
        padding-bottom: calc(40px + 0.8rem);
    }

    #nav-content {
        position: fixed;
        top: calc(40px + 0.8rem);
        right: 0;
        -webkit-backdrop-filter: blur(2px);
                backdrop-filter: blur(2px);
        -webkit-transition: all 0.4s ease-out;
        -o-transition: all 0.4s ease-out;
        transition: all 0.4s ease-out;
    }

    #nav-content.hidden {
        right: -110%; 
    }

    #mobile-icon {
        display: block;
        position: absolute;
        right: 0.8rem;
    }

    #icon1,
    #icon2.hidden-icon {
        display: none;
    }

    #icon1.visible-icon,
    #icon2 {
        display: block;
    }
}

/* Hero section
=============== */

.hero {
    background-color: var(--purple-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 11% 0 17%;
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 1.9rem;
}

h1 span::after {
    content: '';
    display: block;
}

.hero-content p {
    line-height: 1.5rem;
    color:#ffffff;
}

.hero-content .button {
    padding: 0;
}

.hero-content .button:active {
    color: var(--green-color);
}

.logo-animation {
    width: 57%; 
    height: auto;
    
}

.svg-container {
    position: relative;
    height: 0;
    padding-bottom: 57%;
}

.denver {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--green-color);
    padding: 2rem 20% 2rem 17%;
}

@media only screen and (max-width: 1147px) {
    .denver .h2 {
        font-size: 1.6rem;
    }
}

@media only screen and (max-width: 1040px) {
    h1 {
        font-size: 2.5rem;
    }

    .denver .h2 {
        font-size: 1.5rem;
    }

    .hero {
        padding: 0 6% 0 9%;
    }
    .denver {
        padding: 2rem 17% 2rem 9%;
    }
}

/* mobile hero */
@media only screen and (max-width: 870px) {
    .hero {
        flex-direction: column-reverse;
        padding: 2rem 0 3rem 0;
    }
    
    .hero-content {
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .denver {
        flex-direction: column;
        gap: 2rem;
        padding: 2rem 0;
    }

    .logo-animation {
        width: 80%;
        position: absolute;
        top: 4rem;
    }

    .svg-container {
        padding-bottom: 0%;
    }

    .svg-container2 {
        position: relative;
        height: 0;
        padding-bottom: 80%;
    }
}

/* About section
================ */

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    text-align: center;
    width: 90%;
    padding: 5rem 0;
    margin: auto;
}

.about-goal {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
    align-items: flex-start;
}

.about-container2 {
    display: flex;
    flex-direction: column;
    width: min(85ch, 87%);
    gap: 3rem;
}

.goal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: max(30%, 40ch);
}

.goal-container p,
.goal-container a,
.about-keywords,
.about-keywords a {
    color: var(--purple-color);
}

.goal-container img {
    width: 40%; 
    height: auto;
}

.about-keywords {
    font-size: 2rem;
    line-height: 1.5;
}

.keywords-separation {
    color: var(--green-color);
}

@media (hover: none) {
    .keywords-link {
        text-decoration: underline;
    }
}

@media (hover: hover) {
    .keywords-link {
        display: inline;
        background-image: linear-gradient(var(--green-color), var(--green-color));
        background-size: 0% 2px;
        background-repeat: no-repeat;
        transition: background-size 0.5s;
        background-position: 0 100%;
    }

    .keywords-link:hover {
        background-size: 100% 2px;
    } 
}

.about-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
}

@media only screen and (max-width: 805px) {
    .about-goal {
        flex-direction: column;
        align-items: center;
        width: min(70ch, 87%);
    }

    .goal-container {
        width: auto;
    }

    .goal-container img {
        width: max(30%, 100px);
    }
}

@media only screen and (max-width: 805px) {
    .about-keywords {
        font-size: 1.4rem;
    }
}

/* Speakers section
=================== */

.speaker-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 3rem 0;
}

.speaker-container img {
    width: max(14%, 80px);
}

/* Footer section
================= */

footer {
    padding: 5rem 4%;
    background-color: var(--purple-color);
}
.footer-container {
    display: flex;
    justify-content: space-between;
    gap: 2.5rem;
    margin: auto;
    width: max(70%, 120ch);
}

.footer-description {
    width: 50%;
    margin-right: 5%;
}

.footer-description p,
.footer-description a {
    color: #FFFFFF;
    line-height: 1.5;
    margin-top: 1rem;
}

.footer-description a {
    text-decoration: underline;
}

@media (hover: hover) {
    .footer-description a:hover {
        color: var(--light-green-color);
    }
}

.footer-links {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: space-between;
}

.footer-link {
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 1024px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        width: 90%;
    }

    .footer-description {
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-description img {
        width: 12rem;
    }

    footer img {
        width: 2.3rem;
    }
}

/*  */
h2 { 
    padding: 1.5rem 0;
}

.speakers,
.sponsors,
.agenda,
.afterparty {
    text-align: center;
    padding-bottom: 1rem;
}

.afterparty {
    margin-bottom: 2rem;
}