.btn {
  background: linear-gradient(90deg, var(--light-pink-color), transparent) var(--yellow-color);
  border-radius: 66px;
  text-transform: uppercase;
  color: var(--green-color);
  padding: 1em 0.5em;
  text-align: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  transition: all 0.4s ease-out;
  width: 16em;
}

.btn:hover {
  background-color: var(--light-green-color);
}

@media only screen and (max-width: 87.5rem) {
  .btn {
    width: 14em;
    padding: 0.7em 0.3em;
  }
}
