.playlist-btn {
    width: fit-content;
    padding: 2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.icon {
    color: var(--light-pink-color);
    stroke: var(--light-pink-color);
    max-width: 100%;
    height: auto;
}
.icon.fill {
  fill: var(--green-color);
}

.icon,
.playlist-btn {
    transition: all 1s ease-out;
}
.playlist-btn:hover .icon {
    transform: rotate(180deg);
    color: var(--yellow-color);
    /* stroke: var(--yellow-color); */
}
.playlist-btn:hover {
    /* background-color: var(--sun-color); */
    color: var(--yellow-color);
}

@media only screen and (max-width: 35rem) {
  .playlist-btn {
    padding: 1.25rem;
  }
}