.speakers-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    width: 85%;
    margin: auto;
    justify-content: center;
    
}

@media only screen and (max-width: 36.25rem) {
    .speakers-container {
        width: 95%;
        gap: 4rem;
    }
}