.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
  }
  
  /* hero title */
  .hero-title {
    font-size: var(--font-xxxl);
    width: fit-content;
    max-width: 7ch;
    position: relative;
  }
  .main-title {
    background: radial-gradient(92.59% 92.59% at 50% 7.41%, #EAE4FF 0%, #D7FFF6 52.6%, #FFF8BC 100%); 
    color: transparent;
    background-clip: text;
  }
  
  /* text-shadow for main title */
  .main-title::before {
    content: 'Schelling Point Bogota';
    color: white;
    text-shadow: 0 0 1px #000 ;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .shadow-title {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    color: black;
  }
  
  @media only screen and (max-width: 63rem) { /*1008px */
    .hero {
      flex-direction: column-reverse;
      text-align: center;
      max-width: 80%;
      margin: auto;
    }
  }