.section-title-wrapper {
  padding: 0 10%;
}
.section-title-container {
    position: relative;
    padding: 4rem 0;    
}

.section-title {
    color: var(--light-pink-color);
    width: fit-content;
    text-align: center;
    margin: 0 auto;
}