.rotate {
  transform: rotate(180deg) translateY(1px);
}
.section-divider {
  position: relative;
}
.section-divider::after {
  content: '';
  position: absolute;
  height: 4px;
  top: -2px;
  left:0;
  right: 0;
  background-color: var(--purple-color);
}