.about {
    margin-top: 2rem;
    text-align: center;
    position: relative;
}
#About.section {
  overflow-y: hidden;
  padding-bottom: 20vh;
}

.about-bg {
    margin: auto;
    max-width: 100%;
    height: auto;
}

.about-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -65%);
    width: 100%;
}
.description {
    margin-top: 1rem;
}
/* width: max(30%, 40ch); */

@media only screen and (max-width: 43.75rem) { /*700px */
  .main-xxl.joy {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 31.25rem) { /*500px */
  .main-xxl.joy {
    font-size: 2rem;
  }
}