.speaker-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    width: 9rem;
}

.avatar-container {
    position: relative;
    padding: 15px;
    border-radius: 50%;
    border: 1px solid white;
    box-shadow: inset 0 0 12px 12px white;
    background: linear-gradient(180deg, #02E2AC 0%, #FFE921 100%);
    transition: all 0.3s ease-out;
}

.avatar {
    border-radius: 50%;
    vertical-align: middle;
    object-fit: fill;
    width: 110px;
    height: 110px;
}
.avatar-container:hover {
  border-radius: 35%;
}

.speaker-description {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.15em;
}

.speaker-name {
    color: var(--grey-color);
    font-size: 1.35rem;
    letter-spacing: 0.0001em;
    padding-bottom: 0.2em;
    white-space: pre-line;
}

.role {
    line-height: 110%;
    font-weight: 500;
    color: var(--purple-color);
}

@media only screen and (max-width: 36.25rem) {
    /* .speaker-container {
        width: 40%;
        height: auto;
    } */
    .avatar {
        height: 80px;
        width: 80px;
    }
}