* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}
.white_under{
    color: #ffffff;
    margin-top:  10px;
}
.black_under{
    color: black;
    margin-top: 20px;
    text-align: center;
    font-family: Montserrat;
}
body {
    /* font-family: 'Miriam Libre', sans-serif; */
    max-width: 100%;
    margin: auto;
}

@media (min-width: 1313px) {
    body {
        font-size: 140%;
    }
}

@media (max-width: 1600px) {
    body {
        font-size: 120%;
    }
}

@media (max-width: 992px) {
    body {
        font-size: 110%;
    }
}

@media (max-width: 688px) {
    body {
        font-size: 80%;
    }
    .header-nav-menu li a{
        margin: 0px;
        padding: 0px;
    }
    

    .img_back{
    
    position: absolute;
    width: 75%;
    height:75%;
    }
    

}

.agenda-container {
    display: flex;
    flex-direction: column;
    padding: 1em
    
}

.agenda-container .title {
    display: flex;
    justify-content: center;
    color: #6F3FF5;

}

header {
    display: flex;
    max-width: 100%;
    justify-content: center;
    align-items: center;
}

.button-call-to-action {
    pointer-events: none;
    opacity: 0.7;
}

@media only screen and (max-width: 800px) {
    header {
        flex-direction: column;
    }

    .schelling-nav {
        flex-direction: column;
    }
    .header-nav-menu,
    .text-menu {
        flex-direction: column;
    }
}

nav {
    display: flex;
    justify-items: center;
    align-items: center;
    padding-bottom: 40px;
}

a {
    outline: none;
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.header-nav-menu {
    margin-top: 47px;
    display: flex;
}

.header-nav-menu li {
    list-style: none;
}

/* bubble effect */
nav ul li a,
nav ul li a:after,
nav ul li a:before {
    transition: all .5s;
}

nav.schelling-nav ul li a {
    position: relative;
}

nav.schelling-nav ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0;
    content: '.';
    color: transparent;
    background: #5BF1CD;
    height: 1px;
    border-radius: 50%;
}
.greenpill{
    max-width: 100% !important;
    flex-direction: row !important;
    justify-content: center;
}

@media only screen and (max-width: 500px) {
    .greenpill {
        width: 80%;
        height: 3rem;
    }
    .greenpill p.description {
        font-size: 16px;
        margin-right: 35px;
    }
    .greenpill img {
        width: 15%;
    }
}
.greenpill img{
    max-width: 35px;
    max-height: 35px;
    margin-bottom: -10px;
}
.greenpill p.description{
    background-color: green;
    color: white;
    border-radius: 10px;
    padding: 1em 1em;
    border-right: white 35px solid;
    cursor: pointer;
    width: fit-content;

}

nav.schelling-nav ul li a:hover:after {
    width: 16px;
    height: 16px;
    mix-blend-mode: normal;
    border-radius: 50%;
    background: #5BF1CD;
}

/* end bubble effect */

.link-landing {
    outline: none;
    cursor: pointer;
    padding: 20px;
    text-decoration: none;
    display: flex;
    justify-content: center;
}


a.link-landing {
    font-family: Miriam Libre;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #0E0333;
    outline: none;
}

.link-landing select {
    color: #0E0333;
}

main {
    max-width: 1400px;
    margin: auto;
}

/* HERO  */


.schelling-hero {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.hero-container {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 160px;
}



.hero-image {
    width: 420px;
    height: 420px;
    margin-left: 30px;
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.schelling-hero-description {
    margin-left: 77px;
}

.schelling-hero-description .title {
    font-family: Miriam Libre;
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    line-height: 96.1%;
    color: #6F3FF5;
    width: 518px
}

.schelling-hero-description .subtitle, .cta-hero-box .subtitle{
    font-family: Miriam Libre;
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    line-height: 63px;
    color: #0E0333;
}
.schelling-hero-description .subtitle2 {
    font-family: Miriam Libre;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 33px;
    color: #0E0333;
}


.tag {
	display: inline-block;
  
    width: auto;
	height: 38px;
	
	background-color: #5BF1CD;
	-webkit-border-radius: 3px 4px 4px 3px;
	-moz-border-radius: 3px 4px 4px 3px;
	border-radius: 3px 4px 4px 3px;
	
	border-left: 1px solid #5BF1CD;

	/* This makes room for the triangle */
	margin-left: 19px;
	
	position: relative;
	
	color:  #6F3FF5;
	font-weight: 300;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 22px;
	line-height: 38px;

	padding: 0 10px 0 10px;
}

/* Makes the triangle */
.tag:before {
	content: "";
	position: absolute;
	display: block;
	left: -19px;
	width: 0;
	height: 0;
	border-top: 19px solid transparent;
	border-bottom: 19px solid transparent;
	border-right: 19px solid #5BF1CD;
}

/* Makes the circle */
.tag:after {
	content: "";
	background-color:  #6F3FF5;
	border-radius: 50%;
	width: 4px;
	height: 4px;
	display: block;
	position: absolute;
	left: -9px;
	top: 17px;
}

/* END HERO */
/* 
Bubble */

.bubble {
    display: flex;
    position: absolute;
    width: 40px;
    height: 40px;
    mix-blend-mode: normal;
    border-radius: 50%;
    background: transparent;
}

.bubble.yellow {
    background-color: #FFCC00;
}

.bubble.teal {
    background-color: #5BF1CD;
}

.bubble.violet {
    background-color: #6F3FF5;
}

.bubble.violet.top.left {
    align-self: baseline;
    left: 0;
}

.bubble.violet.top.right {
    align-self: baseline;
    right: 0;
}

.bubble.violet.bottom.right {
    align-self: end;
    bottom: 20px;
    left: 0;
}

.bubble.violet.bottom.left {
    align-self: end;
    right: -12px;
    bottom: 80px;
}

.bubble.violet.top.center {
    align-self: baseline;
    left: 30px;
    top: -5px;
}

.bubble.violet.bottom.center {
    align-self: end;
    right: 0;
}


.bubble.yellow.top.left {
    align-self: baseline;
    left: 0;
}

.bubble.yellow.top.right {
    align-self: baseline;
    left: 0;
    top: 25px;
}

.bubble.yellow.top.center {
    align-self: baseline;
    right: 0;
}

.bubble.yellow.bottom.right {
    align-self: end;
    right: -10px;
    bottom: 30px;
}

.bubble.yellow.bottom.left {
    align-self: end;
    right: -20px;
    bottom: 80px;
}

.bubble.teal.top.left {
    align-self: baseline;
    right: 0;
    bottom: 20px;
}

.bubble.teal.top.right {
    align-self: baseline;
    left: -15px;
    top: 45px;
}

.bubble.teal.bottom.right {
    align-self: end;
    right: 0;
}

.bubble.teal.bottom.left {
    align-self: end;
    left: 0;
}

.bubble.teal.top.center {
    align-self: baseline;
    right: 0;
}

.bubble.teal.bottom.center {
    align-self: end;
    left: 30px;
    top: -5px;
}


.purple-bubble-top {
    position: absolute;
    width: 40px;
    height: 40px;
    right: 916px;
    background: purple;
    mix-blend-mode: normal;
    border-radius: 50%;
}

.bublbe-green {
    position: absolute;
    width: 40px;
    height: 40px;
    right: 916px;
    background: #5BF1CD;
    mix-blend-mode: normal;
    border-radius: 50%;
}

.bublbe-purple {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 525px;
    background: #6F3FF5;
    mix-blend-mode: normal;
    border-radius: 50%;
}

/* end Bubble gree */

/* @component: speaker-list  */
.speakers-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 168px;
}

.speakers-container {
    display: flex;
    flex-direction: column;
    width: 870px;
}

.speaker-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(223.33px, 1fr));
    gap: 10px 100px;
    /* flex-direction: row;
    flex-wrap: wrap; */
}

.speakers-container .title {
    display: flex;
    justify-content: center;
    font-family: Miriam Libre;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 72px;
    text-align: center;
    color: #6F3FF5;
    margin-bottom: 82px;
}

.speaker-card {
    display: flex;
    justify-content: center;
    list-style: none;
    flex-direction: column;
    align-items: center;
    margin: 1.2em;
}

.speaker-card.verified .name{
    font-weight: bold;
}

.speaker-card.verified .title{
    display: block;
}

.speaker-card.verified .title span{
    font-weight: bold;
    color: #8acacf;
    justify-content: center;
    align-items: center;
}

.speaker-card.verified .title .metaverseJob{
    font-weight: bold;
    color: #8acacf;
}

.speaker-info {
    display: flex;
    flex-direction: column;
}

.speaker-image {
    display: flex;
    position: relative;
}

.speaker-image img {
    display: flex;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.speaker-info .name {
    font-family: Miriam Libre;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #6F3FF5;
}

.speaker-info .title {
    font-family: Miriam Libre;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    display: flex;
    flex-direction: column;
}

/* end speaker-list */

/* start agenda section */

.agenda-container {
    display: flex;
    flex-direction: column;
    padding: 1em

}

.agenda-container .title {
    display: flex;
    justify-content: center;
    color: #6F3FF5;

}

/* end agenda */

/* start sponsors section */

.sponsors-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px;
}

.sponsors-container .title {
    display: flex;
    justify-content: center;
    color: #6F3FF5;
}

.sponsors-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-top: 87px;
}

.sponsors-list a {
    cursor: pointer;

}

.sponsors-list li:nth-child(2) {
    margin: 0 124px;
}

.sponsors-card {
    list-style: none;
}

.image-sponsors {
    width: 182px;
    height: 182px;
    padding: 20px;
    justify-content: center;
    display: flex;
}

/* end sponsors section */

footer {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    background-color: #0E0333;
}

.section-title {
    font-family: Miriam Libre;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 100%;
}

.section-container {
    display: flex;
    align-items: center;
    margin-top: 100px;

    /* padding: 56px; */
}

.section-container .section-image {
    width: 474px;
    height: 448px;
}

.footer-container {
    display: flex;
    flex-direction: column;
}

.section-container_call_action {
    justify-content: center;
    display: flex;
    margin: 200px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.description {
    max-width: 700px;
    font-family: Montserrat;
    font-size: 22px;
    line-height: 160%;

}

#the-conference .description img{
    width: 35px;
    height: 35px;
    margin-bottom: -12px;
}
.section-conainer_info {
    display: flex;
    max-width: 775px;
    flex-direction: column;
    justify-items: left;
    margin: auto;
}

.section-conainer_info .title {
    color: #6F3FF5;
    margin-bottom: 14px;
}

.section-conainer_info .description {
    font-size: 22px;
    font-family: Montserrat;
    text-align: left;
    line-height: 40px;
}

.text-menu {
    font-family: Miriam Libre;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height */

    text-align: center;
}

.button-call-to-action {
    width: 640px;
    height: 120px;
    border-radius: 8px;
    background: #6F3FF5;
    color: white;
    text-transform: uppercase;
    font-family: Miriam Libre;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 47px;
    border-color: transparent;
    margin-top: 20px;
    cursor:pointer;
}

.cta-button {
    width: 200px;
    height: 60px;
    border-radius: 8px;
    background: #6F3FF5;
    color: white;
    text-transform: uppercase;
    font-family: Miriam Libre;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 47px;
    border-color: transparent;
    margin-top: 20px;
    cursor:pointer;
    

}

/* .cta-buttons {
    margin-left: 50px;
} */

.cta-hero-box {
    margin-top: 20px;
}

.button-call-to-action:hover {
    filter: brightness(0.85);
}
.button-call-to-action .description {
    width: 791px;
}


#afterparty {
    justify-content: center;
}

.project-brand {
    display: flex;

    padding-top: 150px;
    justify-content: center;
    align-items: center;
}

.project-brand img {
    width: 178px;
    height: 64px;
}

/* Start HR Style */

#hr-style-component::before, #hr-style-component::after { content: ''; }

hr {
  border: 0;
  margin: 1.35em auto;
  max-width: 100%;
  background-position: 50%;
  box-sizing: border-box;
}

.line {
    height:0px;
    border-radius: 2px;
    color: #0E0333;
    border: 7px solid #0E0333;
    width: 100%;
}

.line.one {
    border: 17px solid #0E0333;
}

.line.two {
    border: 27px solid #0E0333;
}
/* end HR Style */

/* start hero-whith-background */
.logo {
    margin-top: 3px;
    margin-left: 0px;
    flex: 1;
}
.nav-brand img {
    width: 74px;
    height:74px;
}

.img_back{
    
    position: absolute;
    z-index: -9999;
    width: 50%;
}

#hero-version-2 {
    min-height: 80vh;
	padding: 1em;
	background-size: 821px;
    background-repeat: no-repeat;
    background-position: center;
}

#hero-version-2 .hero-container {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#hero-version-2 .schelling-hero-description .title {
    font-size: 3em;
    justify-content: center;
    text-align: center;
}

#hero-version-2 .schelling-hero-description .subtitle {
    font-size: 1.5em;
    justify-content: center;
    text-align: center;
}
#hero-version-2 .schelling-hero-description {
    margin: 0;
}

/* end hero-whith-background */


/* Responsive Style */
@media (max-width: 1280px) {

    /*SCHELLING P0INT*/
    .hero-container {
        flex-direction: column;
        text-align: center;

    }

    .hero-image {
        margin: 0;
    }

    .schelling-hero-description {
        margin: 0;
    }

    .schelling-hero-description .title {
        font-size: 64px;
    }

    /* The Conference*/
    .section-container {
        flex-direction: column;
        text-align: center;
    }

    .section-conainer_info {
        margin: auto;
        align-items: center;
    }
}

@media (max-width: 1050px) {
    section.section-container figure {
        width: 50%;
    }

    .sponsors-list {
        gap: 20px;
    }

    .sponsors-list li:nth-child(2) {
        margin: 0;
    }

    .section-container_call_action {
        margin: 100px 10px;
    }

    .button-call-to-action {
        width: 60%;
    }
}

@media (max-width: 800px) {
    body {
        font-size: 80%;
    }
    .header-nav-menu li a{
        margin: 0px;
        padding: 0px;
    }
    header {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .schelling-hero {
        display: flex;
        flex-direction: column;

    }

    section.sponsors-container figure {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
    }

    #hero-version-2 {
        min-height: 120vh;
        background-size: 414px;
    }

    .img_back{
        position: absolute;
        width: 75%;
        height:75%;
    }
    .cta-buttons {
       margin:auto;
    }
}



@media (max-width: 540px) {

    .schelling-hero-description .title,
    .hero-image,
    .section-container .section-image {
        width: 100%;
    }

    .header-nav-menu {
        flex-direction: column;
        margin: 10px;
    }

    .header-nav-menu li {
        margin-bottom: 10px;
    }

    .hero-container,
    .section-container {
        margin-top: 50px;
    }

    .schelling-hero-description .subtitle,
    .section-conainer_info .description {
        font-size: 1.4rem;
    }

    .section-conainer_info .description {
        padding: 20px;
    }

    .button-call-to-action {
        width: 95%;
    }

    #hero-version-2 {
        min-height: 120vh;
        background-size: 414px;
    }

    #hero-version-2 nav {
        justify-content: center;
    }

    #hero-version-2 .logo {
        justify-content: center;
        display: flex;
        padding: 0;
        align-items: center;
        margin-left: 0;
    }

    .cta-buttons {
        margin:auto;
     }

}
tr td{
    padding: 5px;
}
tr{
    font-family: Montserrat;
    font-size: 14px;
}
tr:nth-child(2n){
    background-color: #f7f7f7;
}
tr:first-child{
    background-color: #eee;
    font-weight: bold;
    font-size: 15px;
}
.footer p.description{
    text-align: center;
}
.footer {
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
}
.footer a{
    color: white;
    text-decoration: underline;
}