header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 1.7rem;
    color: var(--light-sun-color);
    background-color: var(--purple-color);
    /* backdrop-filter: blur(10px); */
}

/* logo */
/* header button,
.logo {
    height: 32px;
    width: 32px;
} */

.logo {
    color: rgba(255, 255, 255, 1);
    transition: color 0.3s ease-out;
    cursor: pointer;
}
.logo:hover {
    color: var(--sun-color);
}

/* menu */

nav ul {
    display: flex;
    align-items: center;
    gap: 2.7rem;
}

nav li {
    position: relative;
}
.mobile-icon {
    display: none;
}
/* for the hover/active effect */
.menu-item a::before {
    content: '';
    border-radius: 50%;
    background-color: var(--green-color);
    width: 3rem;
    height: 3rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.6s ease-out;
    z-index: -1;
}

a.active-nav::before,
a:hover::before {
    opacity: 1;
}

.social-media-icons {
    display: flex;
    gap: 1.2rem;
}

.social-media-icon {
    /* color: var(--grey-color); */
    transition: color 0.4s ease-out;
}
.social-media-icon:hover {
    color: var(--green-color);
}

.disabled {
    pointer-events: none;
    color: rgba(255, 248, 188, 0.5);
}
/* mobile menu */
@media only screen and (max-width: 60.5rem) { /*970px */
    nav ul,
    .social-media-icons {
        flex-direction: column;
    }
    
    nav {
        position: fixed;
        top: calc(32px + 1.7rem + 1.7rem);
        padding: 3rem 0;
        right: -110%;
        text-align: center;
        background-color: var(--purple-color);
        backdrop-filter: blur(2px);
        width: 100vw;
        height: 100vh;
        transition: all 0.4s ease-out;
    }
    nav.open {
        right: 0;
    }

    .mobile-icon {
        display: block;
    }
}