header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 1.7rem;
    color: var(--light-pink-color);
    transition: all 0.6s ease-out;
    /* mix-blend-mode: screen; */
}

.logo {
    color: var(--light-green-color);
    transition: color 0.3s ease-out;
    cursor: pointer;
}
.logo:hover {
    color: var(--light-pink-color);
}

/* menu */

nav ul {
    display: flex;
    align-items: center;
    gap: 2.7rem;
}

nav li {
    position: relative;
}
.mobile-icon {
    display: none;
}


/* for the hover/active effect */
.menu-item a::before {
    content: '';
    border-radius: 50%;
    background-color: var(--green-color);
    width: 3rem;
    height: 3rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.6s ease-out;
    z-index: -1;
}

a.active-nav::before,
a:hover::before {
    opacity: 1;
}

.social-media-icons {
    display: flex;
    gap: 1.2rem;
}

.social-media-icons a {
  display: flex;
  align-items: center;
}
.social-media-icon {
    transition: color 0.4s ease-out;
}
.social-media-icon:hover {
    color: var(--light-green-color);
}

.disabled {
    pointer-events: none;
    color: rgba(255, 248, 188, 0.5);
}

@media only screen and (max-width: 600px) {
  header {
    /* justify-content: center; */
    padding: 1.4rem 1rem;
  }
  /* nav {
    width: 100%;
  }
  nav ul {
    width: 100%;
    justify-content: space-between;
    gap: 1rem;
  } */
}
/* mobile menu */
/* @media only screen and (max-width: 60.5rem) {
    nav ul,
    .social-media-icons {
        flex-direction: column;
    }
    
    nav {
        position: fixed;
        top: calc(32px + 1.7rem + 1.7rem);
        padding: 3rem 0;
        right: -110%;
        text-align: center;
        background-color: var(--purple-color);
        backdrop-filter: blur(2px);
        width: 100vw;
        height: 100vh;
        transition: all 0.4s ease-out;
    }
    nav.open {
        right: 0;
    }

    .mobile-icon {
        display: block;
    }
} */