.sections {
  padding-top: 4rem;
  
}

.section {
  padding-bottom: 5rem;
  overflow-x: hidden;
}
#Agenda.section {
  overflow-x: unset;
}

.section-content {
    margin: 0 5rem;
}

#Afterparty .section-content {
  margin: 0;
}

@media only screen and (max-width: 48rem) { /*780px */
  .sections {
    padding-top: 0;
  }
  .section {
    padding: 0 6% 2rem 6%;
  }
  #Afterparty.section {
    padding: 0 0 2rem 0;
  }
  #Speakers.section {
    padding: 10% 2% 10% 2%;
  }
  .section-content {
      margin: 0;
  }
}

/* left to 600px */