.past-events {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
}

.past-events-video {
    margin: 0 auto;
    width: fit-content;
}
video {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.past-events-playlists {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4%;
    max-width: 100%;
}

.past-events-flower {
    max-width: 80%;
    height: auto;
}