#Sponsors {
  background: var(--yellow-gradient);
  padding-block: 7rem 12rem;
}
#Sponsors .section-content {
  margin: 0;
}

#Sponsors .section-title {
  color: var(--green-color);
}

.sponsors {
  width: fit-content;
  margin: 0 auto;
}

.sponsors-line {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding-block: 2.25em;
}

.sponsors-line:not(:last-child) {
  border-bottom: 3px solid var(--green-color);
}

.line-title {
  color: var(--grey-color);
  width: 5ch;
  text-align: right;
}
.line-logos {
  display: flex;
  gap: 5rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.sponsor-img {
  max-width: unset;
}

@media only screen and (max-width: 62.5rem) { /*1000px */
  .Lead .sponsor-img {
    height: 55px;
    width: auto;
  }
  .Core .sponsor-img {
    height: 40px;
    width: auto;
  }
  .Node .sponsor-img {
    height: 30px;
    width: auto;
  }
  .line-logos {
    gap: 3.5rem;
  }
}

@media only screen and (max-width: 45rem) { /*720px */
  .Lead .sponsor-img {
    height: 30px;
    width: auto;
  }
  .Core .sponsor-img {
    height: 23px;
    width: auto;
  }
  .Node .sponsor-img {
    height: 21px;
    width: auto;
  }
  .line-logos {
    gap: 1rem;
  }
}
