#Sponsors {
  background-color: white;
}
#Sponsors .section-content {
  margin: 0;
}

.sponsors-line {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.sponsors-line:not(:last-child) {
  padding-bottom: 3.5rem;
}

.line-title {
  color: var(--grey-color);
  width: 5ch;
  text-align: right;
}
.line-logos {
  display: flex;
  gap: 5.5rem;
  justify-content: center;
  align-items: center;
}


.sponsor-img {
  max-width: unset;
}

@media only screen and (max-width: 62.5rem) { /*1000px */
  .sponsor-img {
    height: 35px;
    width: auto;
  }
  .sponsor-img.protocol {
    height: 60px;
  }
}

@media only screen and (max-width: 37.5rem) { /*600px */
  .line-logos {
    gap: 2.5rem;
  }
  .sponsor-img {
    height: 25px;
    width: auto;
  }
  .sponsor-img.protocol {
    height: 45px;
  }
}